body {
  font-family: Arial, sans-serif;
}

/* Center the form on the page */
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 50px;
    width: 90%;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    max-width: 450px;
}

/* Style text inputs and checkboxes */
input[type="text"],
input[type="email"],
input[type="checkbox"] {
  font-family: Arial, sans-serif;
  margin: 10px;
}
